# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/

# Streamlit
.streamlit/secrets.toml

# OS & Logs
*.log
.DS_Store
Thumbs.db
data/
*.xlsx
*.csv

!tools/tool_checklist_pro/template_checklist.xlsx.streamlit/secrets.toml 
.env 
__pycache__/ 
*.pyc 
*.docx 
*.pdf 
.vietocr_onnx/ 
